.section {
    background-color: var(--primary-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.section--gray {
    background-color: #F5F4FA;
}

.section--padding-bottom {
    padding-bottom: 0;
}